
li{
    font-size: 18px;
    font-family: cursive;
}
ul{
    font-size: 18px;
    font-family: cursive;
}
.img3{
    width: 300px;
    height: 200px;

    .img5{
        width:300px;
        height:200px;
    }